<!doctype html>
<meta charset="utf-8">
<html ng-app="demo" ng-controller="demoCtrl">
<head>
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
</head>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">{{ title }}</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
<div class="btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Kenni Bawden
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
  </ul>
</div>  </div>
</div>



    <div class="container">
        <article class="content well">
            <section class="media" ng-repeat="content in contents[person]">
                <a class="pull-left" ng-href="{{content.URL}}">
                    <img class="media-object" data-src="holder.js/64x64">
                </a>
                <section class="media-body">
                    <a ng-href="{{content.URL}}">
                        <h2 class="media-heading">{{ content.name }}</h2>
                    </a>
                    <p ng-bind="content.description"></p>
                </section>
            </section>
        </article>

        <article class="updates well">
            <section class="media" ng-repeat="update in updates[person]">
                <a class="pull-left" ng-href="">
                    <img class="media-object" data-src="{{ update.person.image }}">
                </a>
                <section class="media-body">
                    <div>
                        <p ng-bind="update.description"></p>
                    </div>
                    <div>
                        <ul>
                            <li ng-repeat="addition in update.added">
                                <span class="label label-success">Added</span>
                                <a ng-href="(contents | filter:{name: added})[0].URL"
                                   ng-bind="(contents | filter:{name: added})[0].name"></a>
                            </li>
                            <li ng-repeat="removal in update.removed">
                                <span class="label label-important">Removed</span>
                                <a ng-href="(contents | filter:{name: removal})[0].URL"
                                   ng-bind="(contents | filter:{name: removal})[0].name"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <button class="btn">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div>
                </section>
            </section>
        </article>
    </div>
    
    <script type="text/javascript" src="js/demo.js"></script>

</body>
</html>
